<a href="https://colab.research.google.com/github/Kedree/DataAnalysisUMF/blob/main/HW1/HW1DONE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW1 for Data Analysis

### Instructions:
Use pandas to read the olympic_medals.csv from the DATA folder on Google Drive. Then perform the followings by
using pandas and/or Python built-in functions.

(a) Find the size of the data frame. How many rows, how many columns?

(b) Use the appropriate function to report the data types for all columns.

(c) Find how many unique cities matches were held at. (Hint: unique( ). For instance, the following example tells
how many unique Events held:)
len(medals['Event'].unique())

(d) Find how many medals the USA team won in total.

(e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count.

For instance, the following example counts at how many locations each event was held. )
medals.groupby(by='Event')['Location'].count()

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/drive/MyDrive/DATA/olympic_medals.csv")
df.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

In [36]:
df.shape[0] # 2394 ROW

2394

In [35]:
df.shape[1] # 8 COL

8

In [34]:
df.info() # 8 COL, 2394 ROW + Headers # Data Types are as seen below

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2394 entries, 0 to 2393
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       2394 non-null   object
 1   Event        2394 non-null   object
 2   Location     2394 non-null   object
 3   Year         2394 non-null   int64
 4   Medal        2394 non-null   object
 5   Name         2164 non-null   object
 6   Nationality  2394 non-null   object
 7   Result       2394 non-null   object
dtypes: int64(1), object(7)
memory usage: 149.8+ KB

In [17]:
len(pd.unique(df['Location']))

23

In [24]:
sum(df['Nationality']== 'USA')

638

In [32]:
df.groupby(by='Nationality')['Nationality'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Nationality, Length: 97, dtype: int64

In [33]:
(df.groupby(by='Nationality')['Nationality'].count()).nlargest(5) # For fun

Nationality
USA    638
GBR    161
URS    131
KEN     87
GDR     76
Name: Nationality, dtype: int64